<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/404.css">
</head>

<body>
    <section>
        <div class="text-center">
            <h1>404</h1>
        </div>

        <div class="contant_box_404">
            <h1>
                This page is not yet completed!
            </h1>

            <p>The boys are trying to built it!</p>

            <a href="/" class="link_404">Go to Home</a>
        </div>
        </div>
    </section>
</body>

</html>